function checkOwn(userID) {
	return request.auth != null && request.auth.uid == userID;
}

function checkStaff() {
	return request.auth != null && request.auth.token.email.matches('^6101[0|1][0-9]{3}@kmitl[.]ac[.]th$');
}

function timeout1() {
	return request.time < timestamp.value(1554915600000); // 11 เมษายน 2019 เวลา 0:00:00
}

function timeout2() {
	return request.time < timestamp.value(1555779600000); // 21 เมษายน 2019 เวลา 0:00:00
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /reg/{userID} {
      allow read: if checkOwn(userID) || checkStaff();
      allow create: if checkOwn(userID) && timeout1();
      allow update: if checkOwn(userID) && timeout1();
    }
    
    match /qus/{userID} {
      allow read: if checkOwn(userID) || checkStaff();
      allow create: if checkOwn(userID) && timeout1();
      allow update: if checkOwn(userID) && timeout2();
    }
    
  	match /check/{userID} {
    	allow read, write: if checkStaff();
    }
  }
}