// Returns true if the uploaded file is an image and its size is below the given number of MB.
function isImageBelowMaxSize(maxSizeMB) {
  return request.resource.size < maxSizeMB * 1024 * 1024
      && request.resource.contentType.matches('image/.*');
}

function checkOwn(userID) {
	return request.auth != null && request.auth.uid == userID;
}

function timeout1() {
	return request.time < timestamp.value(1554915600000); // 11 เมษายน 2019 เวลา 0:00:00
}

function timeout2() {
	return request.time < timestamp.value(1555693200000); // 20 เมษายน 2019 เวลา 0:00:00
}

service firebase.storage {
  match /b/{bucket}/o {
    match /{userID}/pic_profile {
      allow write: if checkOwn(userID) && isImageBelowMaxSize(5) && timeout1();
      allow read: if checkOwn(userID);
    }

    match /{userID}/q-3-3 {
      allow write: if checkOwn(userID) && isImageBelowMaxSize(5) && timeout2();
      allow read: if checkOwn(userID);
    }
  }
}